<h1>Gymer's Detail</h1>
<%= image_tag @user.image.url(:thumb)%>
<div>
  Name : <%= @user.name%><br />
</div>
<div>
  Email : <%= @user.email%><br />
</div>
<div>
  Phone : <%= @user.phone%><br />
</div>