<!-- rendering view from carosel partial -->
<%= render 'home/carosel'%>
<!-- new row for main body -->
<div class="row container-fluid body_row">
<!-- left column bar -->
  <div class="col-md-2 left_clmn">
    fasdfas
  </div>
<!-- end of left columnn bar -->
<!-- starts the main body -->
  <div class="col-md-7 body_clmn">
    <div class="jumbotron">
      <h2>Love your body, Challenge yourself & Just go</h2>
      <h4>We all need a little positive reinforcement every now and again. </h4>
      <p>
        The key to working out to lose weight is to actually stick to your workout. It’s easier to dedicate yourself to a fitness activity when it’s something you enjoy.
      </p>
    </div>
    <div class="row suppliment_main">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h4>PROTEINS</h4>
            </div>
            <img src="assets/image_24157_original_X_450_white.jpg" alt="..."><br>
            <p>Optimum Nutrition:
                Gold Standard 100% Whey
                Muscle Building Whey Protein Powder*
                24g of Whey Protein with Amino Acids for Muscle Recovery and Growth*

                Supported Goal: Build Muscle
                Main Ingredient: Whey Protein
            </p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Button</a>
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h4>PRE-WORKOUTS</h4>
            </div>
            <img src="assets/image_prodprod1390060_largeImage_X_450_white.jpg" alt="..."><br>
            <p>
              JYM:
              Pre JYM
              Pre-Workout Powder Powerhouse*
              Scientifically Advanced All-In-One Formula for Improved Workouts*

              Supported Goal: Improve Workout
              Main Ingredient: Beta-Alanine
            </p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Button</a>
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h4>POST-WORKOUTS</h4>
            </div>
            <img src="assets/image_prodprod460020_largeImage_X_450_white.jpg" alt="..."><br>
            <p>
              Beast Sports Nutrition:
              Creature Powder
              Professional Strength Creatine Powder For Building Muscle*
              Optimizes Strength, Enhances Endurance, & Accelerates Recovery*

              Supported Goal: Build Muscle
              Main Ingredient: Creatine Monohydrate
            </p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Button</a>
            </p>
          </div>
        </div>
    </div>
  </div>
<!-- end of main body
<!--right column bar -->
  <div class="col-md-3 right_clmn">
    fasfsaas
  </div>
<!-- end of right columnn bar --> 
</div>


